<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후후</title>
</head>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문글 비밀번호 확인</h5>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{', '.join(errors)}}
        </div>
        {% endfor %}
        <div class="form-group">
            <label for="password_check">비밀번호</label>
            <input type="text" class="form-control" name="password_check" id="password_check" value="{{ form.password_check.data or '' }}">
        </div>

        <button type="submit" class="btn btn-outline-primary">확인</button>
    </form>
</div>
{% endblock %}



